/* Généralités et remise à zéro */

*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
}





/* Header */

header
{
  background-color: #579c87;
  height: 70px;
  display: flex;
  justify-content: center;
}
header a
{
  height: 70px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
header h1
{
  color: #fdcb46;
  font-size: 35px;
  display: block;
  margin: auto;
}





/* Footer */

footer
{
  background-color: #579c87;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
footer div
{
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 2.5%;
}
footer a
{
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
footer p
{
  font-size: 15px;
  color: #fdcb46;
  display: block;
  margin: auto;
}
footer a:hover p
{
  animation-name: wiggle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  5%
  {
    transform: rotate(8deg);
  }
  15%
  {
    transform: rotate(-8deg);
  }
  25%
  {
    transform: rotate(8deg);
  }
  35%
  {
    transform: rotate(-8deg);
  }
  40%
  {
    transform: rotate(0deg);
  }
}





/* Accueil - Menus */

#accueil
{
  margin-top: 35px;
  margin-bottom: 75px;
  z-index: 2;
}
#accueil > div
{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
#accueil > div > div
{
  display: flex;
  width: 47.5%;
}
#accueil > div > div:nth-child(1)
{
  justify-content: flex-end;
}
#accueil a
{
  height: 283px;
  width: 200px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  margin: 0 7% 0 7%;
}
#accueil div div:nth-child(1) a:nth-child(1) div
{
  background-image: url(images/menu-1.png);
}
#accueil div div:nth-child(1) a:nth-child(2) div
{
  background-image: url(images/menu-2.png);
}
#accueil div div:nth-child(2) a:nth-child(1) div
{
  background-image: url(images/menu-3.png);
}
#accueil div div:nth-child(2) a:nth-child(2) div
{
  background-image: url(images/menu-4.png);
}
#accueil a div
{
  width: 200px;
  height: 283px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
#accueil a:hover div
{
  background-size: 120%;
}



/* Accueil - "Prochainement" */

#accueil p
{
  font-size: 20px;
  color: #fdcb46;
  width: 180px;
  background-color: #579c87;
  border-radius: 7px;
  text-align: center;
  padding: 5px 0;
  margin: auto;
}
#accueil span
{
  opacity: 0;
}
#accueil span:nth-child(1)
{
  animation-name: soon-1;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-1
{
  20%
  {
    opacity: 0;
  }
  25%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(2)
{
  animation-name: soon-2;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-2
{
  45%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(3)
{
  animation-name: soon-3;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-3
{
  70%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}





/* Menu 1 : La note enchantée */

#menu-1
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-1 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-1 > div
{
  background-image: url(images/carte-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fcdfdb;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-1 > div > div:nth-child(1)
{
  width: 80%;
  height: 20%;
  margin: 30% auto 0 auto;
}
#menu-1 > div > div:nth-child(1) div
{
  width: 0%;
  height: 19%;
  margin-left: 41.5%;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(1):hover div
{
  width: 16.5%;
}
#menu-1 > div > div:nth-child(2)
{
  width: 80%;
  height: 16%;
  margin: 8% auto 0 auto;
}
#menu-1 > div > div:nth-child(2) div
{
  width: 0%;
  height: 25%;
  margin-left: 36%;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(2):hover div
{
  width: 27.5%;
}
#menu-1 > div > div:nth-child(3)
{
  width: 80%;
  height: 16%;
  margin: 7.5% auto 0 auto;
}
#menu-1 > div > div:nth-child(3) div
{
  width: 0%;
  height: 25%;
  margin-left: 33%;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(3):hover div
{
  width: 34%;
}
#menu-1 div div div
{
  border-bottom: 1.5px solid black;
}





/* Menu 2 : Le chic à la française */

#menu-2
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-2 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-2 > div
{
  background-image: url(images/carte-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fff5fe;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-2 > div > div:nth-child(1)
{
  width: 73%;
  height: 18%;
  margin: 33.5% auto 0 auto;
}
#menu-2 > div > div:nth-child(1) div
{
  width: 0%;
  height: 21%;
  margin-left: 25.5%;
  border-color: #c67412;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(1):hover div
{
  width: 49%;
}
#menu-2 > div > div:nth-child(2)
{
  width: 73%;
  height: 18%;
  margin: 6% auto 0 auto;
}
#menu-2 > div > div:nth-child(2) div
{
  width: 0%;
  height: 20%;
  margin-left: 31.5%;
  border-color: #a56698;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(2):hover div
{
  width: 37%;
}
#menu-2 > div > div:nth-child(3)
{
  width: 73%;
  height: 18%;
  margin: 6% auto 0 auto;
}
#menu-2 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 28%;
  border-color: #6d4bcb;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(3):hover div
{
  width: 44%;
}
#menu-2 div div div
{
  border-bottom: 1.5px solid black;
}
#menu-2 div div div
{
  border-bottom: 1.5px solid;
}





/* Menu 3 : Le délice des papilles */

#menu-3
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-3 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-3 > div
{
  background-image: url(images/carte-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #edefef;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-3 > div > div:nth-child(1)
{
  width: 73%;
  height: 17%;
  margin: 34.5% auto 0 auto;
}
#menu-3 > div > div:nth-child(1) div
{
  width: 0%;
  height: 20%;
  margin-left: 31.75%;
  border-color: #0228dd;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(1):hover div
{
  width: 37%;
}
#menu-3 > div > div:nth-child(2)
{
  width: 73%;
  height: 16.5%;
  margin: 5% auto 0 auto;
}
#menu-3 > div > div:nth-child(2) div
{
  width: 0%;
  height: 20%;
  margin-left: 33.5%;
  border-color: #0670f3;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(2):hover div
{
  width: 33.75%;
}
#menu-3 > div > div:nth-child(3)
{
  width: 73%;
  height: 18%;
  margin: 4.5% auto 0 auto;
}
#menu-3 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 34%;
  border-color: #229df9;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(3):hover div
{
  width: 33%;
}
#menu-3 div div div
{
  border-bottom: 1.5px solid;
}





/* Menu 4 : La palette du goût */

#menu-4
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-4 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-4 > div
{
  background-image: url(images/carte-4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fdfffd;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-4 > div > div:nth-child(1)
{
  width: 78%;
  height: 18%;
  margin: 34% auto 0 auto;
}
#menu-4 > div > div:nth-child(1) div
{
  width: 0%;
  height: 20%;
  margin-left: 44.2%;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(1):hover div
{
  width: 12%;
}
#menu-4 > div > div:nth-child(2)
{
  width: 78%;
  height: 18%;
  margin: 3.5% auto 0 auto;
}
#menu-4 > div > div:nth-child(2) div
{
  width: 0%;
  height: 22%;
  margin-left: 37.5%;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(2):hover div
{
  width: 25.5%;
}
#menu-4 > div > div:nth-child(3)
{
  width: 78%;
  height: 18%;
  margin: 3% auto 0 auto;
}
#menu-4 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 36.2%;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(3):hover div
{
  width: 28.5%;
}
#menu-4 div div div
{
  border-bottom: 1.5px solid #95dd69;
}





/* Mentions légales */

#mentions
{
  display: flex;
  flex-direction: column;
  margin: 35px 5% 75px 5%;
}
#mentions h2
{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#mentions p
{
  font-size: 15px;
  text-align: justify;
}
#mentions p:nth-child(3), #mentions p:nth-child(5)
{
  margin: 25px 0;
}





/* Responsive design - [++; 1700px] */

@media screen and (min-width: 1700px)
{
  header, header a
  {
    height: 90px;
  }
  header h1
  {
    font-size: 50px;
  }
  footer, footer div, footer a
  {
    height: 60px;
  }
  footer p
  {
    font-size: 20px;
  }
  #accueil, #menu-1, #menu-2, #menu-3, #menu-4, #mentions
  {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  #accueil div
  {
    margin-bottom: 75px;
  }
  #accueil a
  {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  }
  #accueil a, #accueil a div
  {
    width: 260px;
    height: 367px;
  }
  #accueil p
  {
    font-size: 25px;
    width: 230px;
  }
  #menu-1 > h2, #menu-2 > h2, #menu-3 > h2, #menu-4 > h2, #mentions h2
  {
    font-size: 30px;
  }
  #menu-1 > div, #menu-2 > div, #menu-3 > div, #menu-4 > div
  {
    width: 552px;
    height: 780px;
    margin-top: 40px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.15);
  }
  #menu-1 div div div, #menu-2 div div div, #menu-3 div div div, #menu-4 div div div
  {
    border-bottom-width: 2px;
  }
  #mentions h2
  {
    margin-bottom: 40px;
  }
  #mentions p
  {
    font-size: 20px;
  }
}



/* Responsive design - [1100px; --] */

@media screen and (max-width: 1100px)
{
  #accueil > div
  {
    flex-direction: column;
  }
  #accueil > div > div, #accueil > div > div:nth-child(1)
  {
    justify-content: center;
    margin: auto;
    width: 80%;
  }
  #accueil > div > div:nth-child(1)
  {
    margin-bottom: 20px;
  }
  #accueil > div > div:nth-child(2)
  {
    margin-top: 20px;
  }
  #mentions
  {
    margin: 35px 10% 75px 10%;
  }
}



/* Responsive design - [600px; --] */

@media screen and (max-width: 600px)
{
  #accueil > div > div
  {
    flex-direction: column;
  }
  #accueil > div > div:nth-child(1), #accueil > div > div:nth-child(2)
  {
    width: 95%;
  }
  #accueil > div > div:nth-child(1)
  {
    margin-bottom: 0;
  }
  #accueil > div > div:nth-child(2)
  {
    margin-top: 0;
  }
  #accueil a
  {
    margin: 0 auto;
  }
  #accueil div:nth-child(1) a:nth-child(2), #accueil div:nth-child(2) a:nth-child(1), #accueil div:nth-child(2) a:nth-child(2)
  {
    margin-top: 40px;
  }
  #accueil p
  {
    font-size: 15px;
    width: 140px;
  }
}



/* Responsive design - [550px; --] */

@media screen and (max-width: 550px)
{
  #menu-1 h2, #menu-2 h2, #menu-3 h2, #menu-4 h2, #mentions h2
  {
    font-size: 15px;
  }
  #menu-1 > div, #menu-2 > div, #menu-3 > div, #menu-4 > div
  {
    width: 275px;
    height: 389px;
  }
  #menu-1 div div div, #menu-2 div div div, #menu-3 div div div, #menu-4 div div div
  {
    border-bottom-width: 1px;
  }
  #mentions p
  {
    font-size: 10px;
  }
}
