/* Généralités et remise à zéro */

*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
}
@font-face {
  font-family: lne;
  src: url("polices/menu-1.ttf");
}
@font-face {
  font-family: lne-titre;
  src: url("polices/menu-1-titre.ttf");
}
@font-face {
  font-family: lne-texte;
  src: url("polices/menu-1-texte.ttf");
}
@font-face {
  font-family: lcf;
  src: url("polices/menu-2.ttf");
}
@font-face {
  font-family: ldp;
  src: url("polices/menu-3.ttf");
}
@font-face {
  font-family: ldp-texte;
  src: url("polices/menu-3-texte.ttf");
}
@font-face {
  font-family: lpg;
  src: url("polices/menu-4.ttf");
}
@font-face {
  font-family: lpg-texte;
  src: url("polices/menu-4-texte.otf");
}





/* Header */

header
{
  background-color: #579c87;
  height: 70px;
  display: flex;
  justify-content: center;
}
header a
{
  height: 70px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}
header h1
{
  color: #fdcb46;
  font-size: 35px;
  display: block;
  margin: auto;
}





/* Footer */

footer
{
  background-color: #579c87;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
footer div
{
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 2.5%;
}
footer a
{
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
footer p
{
  font-size: 15px;
  color: #fdcb46;
  display: block;
  margin: auto;
}
footer a:hover p
{
  animation-name: wiggle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  5%
  {
    transform: rotate(8deg);
  }
  15%
  {
    transform: rotate(-8deg);
  }
  25%
  {
    transform: rotate(8deg);
  }
  35%
  {
    transform: rotate(-8deg);
  }
  40%
  {
    transform: rotate(0deg);
  }
}





/* Accueil - Menus */

#accueil
{
  margin-top: 35px;
  margin-bottom: 75px;
  z-index: 2;
}
#accueil > div
{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
#accueil > div > div
{
  display: flex;
  width: 47.5%;
}
#accueil > div > div:nth-child(1)
{
  justify-content: flex-end;
}
#accueil a
{
  height: 283px;
  width: 200px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
  margin: 0 7% 0 7%;
}
#accueil div div:nth-child(1) a:nth-child(1) div
{
  background-image: url(images/menu-1.png);
}
#accueil div div:nth-child(1) a:nth-child(2) div
{
  background-image: url(images/menu-2.png);
}
#accueil div div:nth-child(2) a:nth-child(1) div
{
  background-image: url(images/menu-3.png);
}
#accueil div div:nth-child(2) a:nth-child(2) div
{
  background-image: url(images/menu-4.png);
}
#accueil a div
{
  width: 200px;
  height: 283px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
#accueil a:hover div
{
  background-size: 120%;
}



/* Accueil - "Prochainement" */

#accueil p
{
  font-size: 20px;
  color: #fdcb46;
  width: 180px;
  background-color: #579c87;
  border-radius: 7px;
  text-align: center;
  padding: 5px 0;
  margin: auto;
}
#accueil span
{
  opacity: 0;
}
#accueil span:nth-child(1)
{
  animation-name: soon-1;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-1
{
  20%
  {
    opacity: 0;
  }
  25%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(2)
{
  animation-name: soon-2;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-2
{
  45%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(3)
{
  animation-name: soon-3;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-3
{
  70%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}





/* Menu 1 : La note enchantée */

#menu-1
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-1 > h2
{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
#menu-1 #conteneur
{
  width: 567px;
  height: 800px;
  margin: 20px auto 0 auto;
  background-color: #fcdfdb;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-1 #bloc-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
#menu-1 #bloc-header img
{
  width: 40px;
  display: block;
  margin: 40px auto 0 auto;
}
#menu-1 #bloc-header h2
{
  font-size: 27px;
  font-weight: normal;
  text-align: center;
  font-family: lne;
}
#menu-1 .bloc
{
  margin-bottom: 50px;
}
#menu-1 .titre
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 47px;
}
#menu-1 .titre h2
{
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  font-family: lne-titre;
}
#menu-1 .titre img
{
  height: 10px;
}
#menu-1 .texte
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 12.5px;
}
#menu-1 .texte p
{
  font-size: 11px;
  font-weight: normal;
  font-family: lne-texte;
}
#menu-1 #bloc-footer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
#menu-1 #bloc-footer img
{
  width: 25px;
  display: block;
  margin-right: 5px;
}
#menu-1 #bloc-footer h2
{
  font-size: 25px;
  font-weight: normal;
  font-family: lne;
  margin-left: 5px;
}
#menu-1 .souligner
{
  width: 0px;
  height: 2px;
  background-color: black;
  margin: 0 0 15px 210px;
  transition: width 0.4s;
}
#menu-1 #bloc-1:hover .souligner, #menu-1 #bloc-2:hover .souligner, #menu-1 #bloc-3:hover .souligner
{
  width: 148px;
}





/* Menu 2 : Le chic à la française */

#menu-2
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-2 h2
{
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
#menu-2 #conteneur
{
  width: 567px;
  height: 800px;
  margin: 20px auto 0 auto;
  background-color: #FFF5FE;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-2 #bloc-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#menu-2 #bloc-header h2
{
  font-size: 27px;
  font-weight: normal;
  text-align: center;
  font-family: lcf;
  margin: 80px 0;
  background: linear-gradient(170deg, #E38913, #B85BA6, #8F5BFE);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#menu-2 .bloc
{
  margin-bottom: 60px;
}
#menu-2 .titre
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
#menu-2 .titre h2
{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: Times;
}
#menu-2 .titre img
{
  height: 10px;
}
#menu-2 .texte
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 75px;
  margin-bottom: 16px;
}
#menu-2 .texte p
{
  font-size: 13px;
  font-family: Times;
}
#menu-2 #bloc-1 h2, #menu-2 #bloc-1 p
{
  color: #C67412;
}
#menu-2 #bloc-2 h2, #menu-2 #bloc-2 p
{
  color: #A56799;
}
#menu-2 #bloc-3 h2, #menu-2 #bloc-3 p
{
  color: #6E4CCC;
}
#menu-2 .souligner
{
  width: 0px;
  height: 2px;
  margin: 6px 0 25px 185px;
  transition: width 0.4s;
}
#menu-2 #bloc-1 .souligner
{
  background-color: #C67412;
}
#menu-2 #bloc-2 .souligner
{
  background-color: #A56799;
}
#menu-2 #bloc-3 .souligner
{
  background-color: #6E4CCC;
}
#menu-2 #bloc-1:hover .souligner, #menu-2 #bloc-2:hover .souligner, #menu-2 #bloc-3:hover .souligner
{
  width: 200px;
}





/* Menu 3 : Le délice des papilles */

#menu-3
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-3 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-3 #conteneur
{
  width: 567px;
  height: 800px;
  margin: 20px auto 0 auto;
  background-color: #EDEFEF;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-3 #bloc-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#menu-3 #bloc-header h2
{
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  font-family: ldp;
  margin: 60px 0;
  background: linear-gradient(150deg, #0228DD, #00AAFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#menu-3 .bloc
{
  margin-bottom: 50px;
}
#menu-3 .titre
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
#menu-3 .titre h2
{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: ldp-texte;
}
#menu-3 .titre img
{
  height: 7.5px;
}
#menu-3 .texte
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 14px;
}
#menu-3 .texte p
{
  font-size: 12px;
  font-family: ldp-texte;
}
#menu-3 .souligner
{
  width: 0px;
  height: 2px;
  margin: 0 0 25px 185px;
  transition: width 0.4s;
}
#menu-3 #bloc-1 .souligner
{
  background-color: #0228DD;
}
#menu-3 #bloc-2 .souligner
{
  background-color: #0670F3;
}
#menu-3 #bloc-3 .souligner
{
  background-color: #229DF9;
}
#menu-3 #bloc-1:hover .souligner, #menu-3 #bloc-2:hover .souligner, #menu-3 #bloc-3:hover .souligner
{
  width: 200px;
}





/* Menu 4 : La palette du goût */

#menu-4
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-4 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-4 #conteneur
{
  width: 567px;
  height: 800px;
  margin: 20px auto 0 auto;
  background-color: #FDFFFD;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-4 #bloc-header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#menu-4 #bloc-header h2
{
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  font-family: lpg;
  margin: 60px 0;
  background: linear-gradient(150deg, #3D923A, #BEFF7F);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#menu-4 .bloc
{
  margin-bottom: 50px;
}
#menu-4 .titre
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
#menu-4 .titre h2
{
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  font-family: lpg-texte;
}
#menu-4 .titre img
{
  height: 7.5px;
}
#menu-4 .texte
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 14px;
}
#menu-4 .texte p
{
  font-size: 13px;
  font-family: lpg-texte;
}


#menu-4 .souligner
{
  width: 0px;
  height: 2px;
  margin: 0 0 35px 215px;
  transition: width 0.4s;
  background-color: #3D923A;
}
#menu-4 #bloc-1:hover .souligner, #menu-4 #bloc-2:hover .souligner, #menu-4 #bloc-3:hover .souligner
{
  width: 140px;
}





/* Mentions légales */

#mentions
{
  display: flex;
  flex-direction: column;
  margin: 35px 5% 75px 5%;
}
#mentions h2
{
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#mentions p
{
  font-size: 15px;
  text-align: justify;
}
#mentions p:nth-child(3), #mentions p:nth-child(5)
{
  margin: 25px 0;
}





/* Responsive design - [++; 1700px] */

@media screen and (min-width: 1700px)
{
  header, header a
  {
    height: 90px;
  }
  header h1
  {
    font-size: 50px;
  }
  footer, footer div, footer a
  {
    height: 60px;
  }
  footer p
  {
    font-size: 20px;
  }
  #accueil, #menu-1, #menu-2, #menu-3, #menu-4, #mentions
  {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  #accueil div
  {
    margin-bottom: 75px;
  }
  #accueil a
  {
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  }
  #accueil a, #accueil a div
  {
    width: 260px;
    height: 367px;
  }
  #accueil p
  {
    font-size: 25px;
    width: 230px;
  }
  #menu-1 > h2, #menu-2 > h2, #menu-3 > h2, #menu-4 > h2, #mentions h2
  {
    font-size: 30px;
  }
  #menu-1 > div, #menu-2 > div, #menu-3 > div, #menu-4 > div
  {
    width: 552px;
    height: 780px;
    margin-top: 40px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.15);
  }
  #menu-1 div div div, #menu-2 div div div, #menu-3 div div div, #menu-4 div div div
  {
    border-bottom-width: 2px;
  }
  #mentions h2
  {
    margin-bottom: 40px;
  }
  #mentions p
  {
    font-size: 20px;
  }
}



/* Responsive design - [1100px; --] */

@media screen and (max-width: 1100px)
{
  #accueil > div
  {
    flex-direction: column;
  }
  #accueil > div > div, #accueil > div > div:nth-child(1)
  {
    justify-content: center;
    margin: auto;
    width: 80%;
  }
  #accueil > div > div:nth-child(1)
  {
    margin-bottom: 20px;
  }
  #accueil > div > div:nth-child(2)
  {
    margin-top: 20px;
  }
  #mentions
  {
    margin: 35px 10% 75px 10%;
  }
}



/* Responsive design - [600px; --] */

@media screen and (max-width: 600px)
{
  #accueil > div > div
  {
    flex-direction: column;
  }
  #accueil > div > div:nth-child(1), #accueil > div > div:nth-child(2)
  {
    width: 95%;
  }
  #accueil > div > div:nth-child(1)
  {
    margin-bottom: 0;
  }
  #accueil > div > div:nth-child(2)
  {
    margin-top: 0;
  }
  #accueil a
  {
    margin: 0 auto;
  }
  #accueil div:nth-child(1) a:nth-child(2), #accueil div:nth-child(2) a:nth-child(1), #accueil div:nth-child(2) a:nth-child(2)
  {
    margin-top: 40px;
  }
  #accueil p
  {
    font-size: 15px;
    width: 140px;
  }
}



/* Responsive design - [550px; --] */

@media screen and (max-width: 550px)
{
  #menu-1 h2, #menu-2 h2, #menu-3 h2, #menu-4 h2, #mentions h2
  {
    font-size: 15px;
  }
  #menu-1 > div, #menu-2 > div, #menu-3 > div, #menu-4 > div
  {
    width: 275px;
    height: 389px;
  }
  #menu-1 div div div, #menu-2 div div div, #menu-3 div div div, #menu-4 div div div
  {
    border-bottom-width: 1px;
  }
  #mentions p
  {
    font-size: 10px;
  }
}
