/* Généralités et remise à zéro */

*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
}





/* Header */

header
{
  background-color: #579c87;
  height: 70px;
}
header div
{
  display: flex;
  height: inherit;
}
header a
{
  color: #fdcb46;
  font-size: 35px;
  font-weight: bold;
  margin: auto;
  padding: 5px 10px;
}





/* Footer */

footer
{
  background-color: #579c87;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer div
{
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding: 0 2.5%;
}
footer a
{
  display: flex;
  height: 40px;
  width: 130px;
  justify-content: center;
}
footer p
{
  font-size: 15px;
  color: #fdcb46;
  display: block;
  margin: auto;
}
footer a:hover p
{
  animation-name: wiggle;
  animation-duration: 0.45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  0%
  {
    transform-origin: center;
  }
  25%
  {
    transform: rotate(8deg);
  }
  50%
  {
    transform-origin: center;
  }
  75%
  {
    transform: rotate(-8deg);
  }
  100%
  {
    transform-origin: center;
  }
}





/* Accueil */

#accueil
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#accueil > div
{
  display: flex;
  justify-content: space-between;
  margin: 0 5% 50px 5%;
}
#accueil a
{
  height: 283px;
  width: 200px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}
#accueil a:nth-child(1) div
{
  background-image: url(images/menu-1.png);
}
#accueil a:nth-child(2) div
{
  background-image: url(images/menu-2.png);
}
#accueil a:nth-child(3) div
{
  background-image: url(images/menu-3.png);
}
#accueil a:nth-child(4) div
{
  background-image: url(images/menu-4.png);
}
#accueil a div
{
  width: 200px;
  height: 283px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}
#accueil a:hover div
{
  background-size: 120%;
}
#accueil p
{
  font-size: 20px;
  color: #fdcb46;
  width: 180px;
  background-color: #579c87;
  border-radius: 7px;
  text-align: center;
  padding: 5px 0;
  margin: auto;
}
#accueil span
{
  opacity: 0;
}
#accueil span:nth-child(1)
{
  animation-name: soon-1;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-1
{
  20%
  {
    opacity: 0;
  }
  25%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(2)
{
  animation-name: soon-2;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-2
{
  45%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
#accueil span:nth-child(3)
{
  animation-name: soon-3;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes soon-3
{
  70%
  {
    opacity: 0;
  }
  75%
  {
    opacity: 1;
  }
  90%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}





/* Menu 1 - La note enchantée */

#menu-1
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-1 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-1 > div
{
  background-image: url(images/carte-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fcdfdb;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-1 > div > div:nth-child(1)
{
  width: 80%;
  height: 20%;
  margin: 30% auto 0 auto;
}
#menu-1 > div > div:nth-child(1) div
{
  width: 0%;
  height: 19%;
  margin-left: 41.5%;
  border-bottom: 1.5px solid black;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(1):hover div
{
  width: 16.5%;
}
#menu-1 > div > div:nth-child(2)
{
  width: 80%;
  height: 16%;
  margin: 8% auto 0 auto;
}
#menu-1 > div > div:nth-child(2) div
{
  width: 0%;
  height: 25%;
  margin-left: 36%;
  border-bottom: 1.5px solid black;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(2):hover div
{
  width: 27.5%;
}
#menu-1 > div > div:nth-child(3)
{
  width: 80%;
  height: 16%;
  margin: 7.5% auto 0 auto;
}
#menu-1 > div > div:nth-child(3) div
{
  width: 0%;
  height: 25%;
  margin-left: 33%;
  border-bottom: 1.5px solid black;
  transition: width 0.5s;
}
#menu-1 > div > div:nth-child(3):hover div
{
  width: 34%;
}





/* Menu 2 - Le chic à la française */

#menu-2
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-2 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-2 > div
{
  background-image: url(images/carte-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fff5fe;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-2 > div > div:nth-child(1)
{
  width: 73%;
  height: 18%;
  margin: 33.5% auto 0 auto;
}
#menu-2 > div > div:nth-child(1) div
{
  width: 0%;
  height: 21%;
  margin-left: 25.5%;
  border-bottom: 1.5px solid #c67412;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(1):hover div
{
  width: 49%;
}
#menu-2 > div > div:nth-child(2)
{
  width: 73%;
  height: 18%;
  margin: 6% auto 0 auto;
}
#menu-2 > div > div:nth-child(2) div
{
  width: 0%;
  height: 20%;
  margin-left: 31.5%;
  border-bottom: 1.5px solid #a56698;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(2):hover div
{
  width: 37%;
}
#menu-2 > div > div:nth-child(3)
{
  width: 73%;
  height: 18%;
  margin: 6% auto 0 auto;
}
#menu-2 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 28%;
  border-bottom: 1.5px solid #6d4bcb;
  transition: width 0.5s;
}
#menu-2 > div > div:nth-child(3):hover div
{
  width: 44%;
}





/* Menu 3 - Le délice des papilles */

#menu-3
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-3 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-3 > div
{
  background-image: url(images/carte-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #edefef;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-3 > div > div:nth-child(1)
{
  width: 73%;
  height: 17%;
  margin: 34.5% auto 0 auto;
}
#menu-3 > div > div:nth-child(1) div
{
  width: 0%;
  height: 20%;
  margin-left: 31.75%;
  border-bottom: 1.5px solid #0228dd;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(1):hover div
{
  width: 37%;
}
#menu-3 > div > div:nth-child(2)
{
  width: 73%;
  height: 16.5%;
  margin: 5% auto 0 auto;
}
#menu-3 > div > div:nth-child(2) div
{
  width: 0%;
  height: 20%;
  margin-left: 33.5%;
  border-bottom: 1.5px solid #0670f3;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(2):hover div
{
  width: 33.75%;
}
#menu-3 > div > div:nth-child(3)
{
  width: 73%;
  height: 18%;
  margin: 4.5% auto 0 auto;
}
#menu-3 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 34%;
  border-bottom: 1.5px solid #229df9;
  transition: width 0.5s;
}
#menu-3 > div > div:nth-child(3):hover div
{
  width: 33%;
}





/* Menu 4 - La palette du goût */

#menu-4
{
  margin-top: 35px;
  margin-bottom: 75px;
}
#menu-4 h2
{
  font-size: 20px;
  text-align: center;
}
#menu-4 > div
{
  background-image: url(images/carte-4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 425px;
  height: 600px;
  margin: 20px auto 0 auto;
  border: 1px solid #fdfffd;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
#menu-4 > div > div:nth-child(1)
{
  width: 78%;
  height: 18%;
  margin: 34% auto 0 auto;
}
#menu-4 > div > div:nth-child(1) div
{
  width: 0%;
  height: 20%;
  margin-left: 44.2%;
  border-bottom: 1.5px solid #95dd69;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(1):hover div
{
  width: 12%;
}
#menu-4 > div > div:nth-child(2)
{
  width: 78%;
  height: 18%;
  margin: 3.5% auto 0 auto;
}
#menu-4 > div > div:nth-child(2) div
{
  width: 0%;
  height: 22%;
  margin-left: 37.5%;
  border-bottom: 1.5px solid #95dd69;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(2):hover div
{
  width: 25.5%;
}
#menu-4 > div > div:nth-child(3)
{
  width: 78%;
  height: 18%;
  margin: 3% auto 0 auto;
}
#menu-4 > div > div:nth-child(3) div
{
  width: 0%;
  height: 20%;
  margin-left: 36.2%;
  border-bottom: 1.5px solid #95dd69;
  transition: width 0.5s;
}
#menu-4 > div > div:nth-child(3):hover div
{
  width: 28.5%;
}





/* Mentions légales */

#mentions
{
  display: flex;
  flex-direction: column;
  margin: 35px 5% 75px 5%;
}
#mentions p
{
  font-size: 20px;
  text-align: justify;
}
#mentions p:nth-child(2)
{
  margin: 25px 0;
}
